template(name='bulk')
    .container
        .ui.segment
            #cleanNonStringTags.ui.button Clean Non String Tags From My Docs
            #alchemize.ui.button Autotag all my docs
        .ui.segment
            .ui.header Bulk Editor
                .ui.input
                    label.active(for='tagSelector')  Tag Selector
                    input#tagSelector(type=text value="{{$.Session.get 'query'}}" autofocus='')
                #findDocsWithTag.ui.button Find Docs with Tag
                if $.Session.get 'resultCount'
                    .ui.segment
                        |Result Count: {{$.Session.get 'resultCount'}}
                        #deleteQueryDocs.ui.red.button Delete Query Docs
                // .row
            //     .firstDocFromQuery First Result From Query