template(name='bulk')
    .container
        .panel.panel-default
            .panel-body
                #cleanNonStringTags.btn.btn-default Clean Non String Tags From My Docs
                #alchemize.btn.btn-default Autotag all my docs
        .panel.panel-default
            .panel-heading Bulk Editor
            .panel-body
                .form-group
                    label.active(for='tagSelector')  Tag Selector
                    input#tagSelector.form-control(type=text value="{{$.Session.get 'query'}}" autofocus='')
                #findDocsWithTag.btn.btn-default Find Docs with Tag
                if $.Session.get 'resultCount'
                    .panel.panel-default
                        .panel-body
                            |Result Count: {{$.Session.get 'resultCount'}}
                            #deleteQueryDocs.btn.btn-danger Delete Query Docs
                // .row
                //     .firstDocFromQuery First Result From Query