template(name='cloud')
    .ui.center.aligned.basic.segment
        if selected_tags
            #clear_tags.ui.large.primary.icon.compact.button
                i.remove.icon
            each selected_tags
                // .ui.buttons.cloud_tags
                a.ui.large.primary.compact.button.unselect_tag
                    strong #{this}
        each all_tags
            .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
                strong #{name}