template(name='cloud')
    .ui.center.aligned.bottom.attached.segment
        if selectedTags
            if currentUser
                #bookmarkSelection.ui.active.icon.button
                    i.bookmark.icon
                #newFromSelection.ui.active.icon.button
                    i.plus.icon
            #clearTags.ui.active.big.icon.button
                i.remove.icon
        if selectedTags
            each selectedTags
                a.ui.active.big.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}
