template(name='cloud')
    .ui.center.aligned.segment
        .ui.header Browse Desired Traits
        if selectedTraits
            #clearTraits.ui.primary.big.compact.icon.button
                i.remove.icon
        if selectedTraits
            each selectedTraits
                a.ui.primary.big.compact.button.unselectTrait
                    strong #{this}
        each globalTraits
            .ui.compact.basic.button.selectTrait(class=globalTraitClass) #{this.name}
                small #{this.count}
