template(name='docs')
    .ui.container
        .ui.cards
            each docs
                +view

template(name='view')
    .ui.fluid.card
        .content
            .header
                each tags
                    .ui.circular.button.docTag(class=docTagClass)  #{this}
        .extra.content
            span by #{username} #{when}
            if currentUser
                .ui.icon.circular.button.cloneDoc
                    i.fork.icon
                    // |Clone
            if isAuthor
                .ui.icon.circular.button.editDoc
                    i.pencil.icon
                    // |Edit
                .ui.icon.circular.button.deleteDoc
                    // |Delete
                    i.trash.icon
