template(name='edit')
    with doc
        .ui.container
            .ui.segment
                each tags
                    .ui.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#addTag(type='text' autofocus='' placeholder='Add Tag')
                .ui.hidden.divider
                .ui.input
                    textarea#body
                        |#{body}
                .ui.hidden.divider
                if tags.length
                    #saveDoc.ui.large.green.button
                        |Save
                        i.check.icon
                #deleteDoc.ui.large.red.button
                    i.remove.icon
                    |Delete

        // .ui.modal
        //     .header Confirm Delete
        //     .content
        //       .meta Confirm?
        //       .description #{body}
        //     .actions
        //       .ui.button.cancel Cancel
        //       .ui.red.button.approve Delete
