template(name='nav')
    .ui.inverted.menu
        a.ui.header.item(href='/' class="{{isActivePath '/'}}")
            |Facet
        if currentUser
            a#addDoc.item
                i.plus.icon
                |Add Doc

        .right.menu
            // if currentUser
            //     a.item(href='/profile' class="{{isActivePath '/profile'}}")
            //         i.user.icon
            //         | Profile (#{user.username})
            +atNavButton
