template(name='nav')
    .ui.menu(href='/')
        a#home_link.ui.header.icon.item(href='/' class="{{isActivePath '/'}}")
            img.logo(src='/favicon-32x32.png')
        // i.diamond.icon
        // |Facet
        // i.large.home.icon
        // .ui.category.search.two.wide.item
        //     .ui.transparent.inverted.icon.input
        //         input.search(type='text', placeholder='Search...')
        //         i.search.link.icon
        if currentUser    
            .right.menu
                a.ui.item(href='/messages' class="{{isActivePath '/messages'}}")
                    i.mail.outline.icon
                a.item(href='/profile' class="{{isActivePath '/profile'}}")
                    i.user.icon
                    | #{currentUser.username}
        +atNavButton