template(name='nav')
    .ui.menu
        .ui.header.item
            i.comments.outline.icon
            |Hub Collider
        a.item(href='/' class="{{isActivePath '/'}}")
            i.users.icon
            |Browse People
        if currentUser
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                | My Profile (#{user.username})
            a.item(href='/messages' class="{{isActivePath '/messages'}}")
                i.mail.icon
                // | Messages (#{user.unreadcount})
                | Messages
        +atNavButton
