template(name='nav')
    .ui.menu
        .ui.header.item Facet: A Human Menu
        a.item(href='/' class="{{isActivePath '/'}}")
            i.users.icon
            |Browse People
        if currentUser
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                | My Profile (#{user.username})
        +atNavButton
