template(name='nav')
    .ui.menu
        .ui.header.item Facet
        a.item(href='/' class="{{isActivePath '/'}}")
            i.users.icon
            |Browse People
        if currentUser
            .ui.input.item
                |I want... &nbsp;
                input#addWant(type='text' autofocus='')
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                | My Profile (#{user.username})
        +atNavButton


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
