template(name='nav')
    .ui.inverted.menu
        a.ui.header.item(href='/' class="{{isActivePath '/'}}")
            |Facet
        if currentUser
            .ui.simple.dropdown.link.item
                span.text Add
                i.dropdown.icon
                .menu
                    #addDoc.item Blank
                    .header From Bookmarks
                    each user.bookmarks
                        .item.addFromBookmark
                            each this
                                .ui.label #{this}
            .ui.simple.dropdown.link.item
                span.text Bookmarks
                i.dropdown.icon
                .menu
                    each user.bookmarks
                        .item.selectBookmark
                            each this
                                .ui.label #{this}
        .right.menu
            // if currentUser
            //     a.item(href='/profile' class="{{isActivePath '/profile'}}")
            //         i.user.icon
            //         | Profile (#{user.username})
            +atNavButton
