template(name='nav')
    .ui.menu
        .ui.header.item
            i.comments.outline.icon
            |Hub Collider
        a.item(href='/' class="{{isActivePath '/'}}")
            i.users.icon
            |People
        if currentUser
            a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
                i.comments.icon
                | Conversations
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                | Profile (#{user.username})
            // a.item(href='/messages' class="{{isActivePath '/messages'}}")
            //     i.mail.icon
            //     // | Messages (#{user.unreadcount})
            //     | Messages
        +atNavButton
