template(name='nav')
    .ui.attached.inverted.menu
        a#home_link.header.item(href='/')
            i.diamond.icon
            | Facet
        // .ui.category.search.two.wide.item
        //     .ui.transparent.inverted.icon.input
        //         input.search(type='text', placeholder='Search...')
        //         i.search.link.icon
        a.item(href='/people')
            i.users.icon
            |People
        a.item(href='/docs')
            i.file.outline.icon
            |Docs
        a.item(href='/importers')
            i.down.arrow.icon
            |Importers
        .right.menu
            if currentUser
                a.item(href='/profile')
                    i.user.icon
                    | #{currentUser.username}
            +atNavButton
