template(name='nav')
    .ui.borderless.menu
        if currentUser
            .ui.item
                i.user.icon
                |#{user.username}
        +atNavButton
        .ui.item I want...
        .ui.input.item
            input#addWant(type='text' autofocus='')

template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
