template(name='nav')
    .ui.inverted.menu
        a.ui.header.item(href='/' class="{{isActivePath '/'}}")
            |Facet
        .right.menu
            if currentUser
                a.item(href='/profile' class="{{isActivePath '/profile'}}")
                    i.user.icon
                    | #{user.username} [#{user.points}]
            +atNavButton
