template(name='nav')
    .ui.borderless.menu.grid
        .mobile.only.row
            a.item.toggleSidebar
                i.sidebar.icon
            .item
                |Facet
        // .tablet.only.row
        //     a.item.toggleSidebar
        //         i.sidebar.icon
        //     .item
        //         |Facet
        .computer.tablet.only.row
            // a#homeLink.ui.item(href='/' class="{{isActivePath '/'}}")
            //     i.large.comment.outline.icon
            //     |Bubl
            if currentUser
                a#homeLink.ui.item(href='/' class="{{isActivePath '/'}}")
                    i.file.text.outline.icon
                    // i.large.comment.outline.icon
                    |All
                a.item(href='/mine' class="{{isActivePath '/mine'}}")
                    i.file.text.outline.icon
                    |Mine
                a.item(href='/people' class="{{isActivePath '/people'}}")
                    i.users.icon
                    |People
            .item
                .ui.left.icon.input
                    i.search.icon
                    input#search(type='text', placeholder="Search")
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                |#{user.username}'s Profile
            +atNavButton


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
