template(name='profile')
    .ui.styled.fluid.accordion
        .content
            | Logout: 
            .ui.large.basic.label
                +loginButtons
            .ui.form
                .inline.field
                    label Your Facet Cloud
                    each currentUser.cloud
                        .ui.compact.basic.button.my_tag
                            i.remove.icon
                            |#{this}


template(name='tag_result')
    .ui.small.basic.compact.button #{name}



