template(name='profile')
    .ui.fluid.attached.segment
        .ui.large.basic.label
            +loginButtons
        .ui.form
            .inline.field
                label Your Cloud
                each currentUser.cloud
                    .ui.compact.basic.button.user_tag(class=cloud_tag_class)
                        |#{name} #{count}


template(name='tag_result')
    .ui.small.basic.compact.button #{name}



