.ui.label, .ui.button
    margin  .2em !important

body
    background #fafafa !important
    font-size 15px !important
    line-height 1.5em
    margin-top 2em


// .CodeMirror
//     border 1px solid
//     height auto !important
//     background none !important
//     font-family Verdana, Geneva, sans-serif

.ui.stackable.menu .left.menu, .ui.stackable.menu .left.item
    margin-right 0 !important

.ui.stackable.menu .right.menu, .ui.stackable.menu .right.item
    margin-left 0 !important

