.ui.label, .ui.button
    margin  .2em !important

body
    // background lightgrey !important
    background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em
