head
    title Hub Collider
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='a_wkR8C0AVtkWB7iJbBpuOuRuAxl1-FY0H6KPZJ87JQ')


template(name='layout')
    +Template.dynamic template=nav
    +Template.dynamic template=cloud
    +Template.dynamic template=main

