template(name='edit')
    with doc
        .ui.container
            .ui.segment
                .tags
                    each tags
                        .ui.labeled.basic.large.icon.button.docTag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#addTag(type='text' autofocus='' placeholder='Add Tag')
                .ui.hidden.divider
                if tags.length
                    #saveDoc.ui.large.labeled.green.icon.button
                        |Save
                        i.check.icon
                #deleteDoc.ui.large.red.labeled.icon.button
                    i.remove.icon
                    |Delete

