template(name='cloud')
    .ui.center.bottom.attached.aligned.segment
        // .ui.header Doc Navigator
        // |Filter Tags:
        if selectedTags
            #clearTags.ui.primary.big.compact.icon.button
                i.remove.icon
        if selectedTags
            each selectedTags
                a.ui.primary.big.compact.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}
        .ui.hidden.divider

