#layerslider(style='width:1500px; height: 500px;')
    .ls-slide(data-ls='slidedelay: 3000;')
        img.ls-bg(src="{{c.url 'coworking' effect='art:frost' width=1500 height=500 crop='fill' fetch_format= 'auto' }}", alt='Slide background' )
        .ls-l.homeslider-header(style="top: 90%; height: 170px; left: 50%;" )
            a(href='/join')
                h3.slider-caption-header Join Impact Hub Boulder Today!
                p.slider-caption-subheader Check out our membership options.
    .ls-slide(data-ls='slidedelay: 3000;')
        img.ls-bg(src="{{c.url 'slider/Events_m4brwk' width=1500 height=500 crop='fill' gravity='center' fetch_format= 'auto' }}", alt='Slide background')
        img.ls-tn(src="{{c.url 'slider/Events_m4brwk' width=200 height=100 crop='fill' fetch_format= 'auto' }}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 90%; height: 170px; left: 50%;" )
            a(href='/events')
                h3.slider-caption-header Events
                p.slider-caption-subheader Check out what's happening this month.
