template(name='edit')
    with doc
        .ui.basic.segment
            div
                each tags
                    .ui.compact.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#add_tag(type='text' autofocus='' placeholder='Add Tag (press enter)')
            .ui.hidden.divider
            div
                if unpicked_alchemy_tags.length
                    .ui.segment
                        h5.ui.header Suggested Alchemy Tags
                        div
                            each unpicked_alchemy_tags
                                .add_alchemy_suggestion.ui.small.compact.button #{this}
                        #add_all_alchemy.ui.blue.button Add All Alchemy Suggestions
            if yaki_tags.length
                .ui.segment
                    h5.ui.header Suggested Yaki Tags
                    div
                        each unpicked_yaki_tags
                            .add_yaki_suggestion.ui.small.compact.button #{this}
                    #add_all_yaki.ui.blue.button Add All Yaki Suggestions
            #alchemy_suggest.ui.basic.button Suggest Tags with AlchemyAPI
            #yaki_suggest.ui.basic.button Suggest Tags Yaki
            .ui.hidden.divider
            .ui.input
                textarea#body
                    |#{body}
            .ui.hidden.divider
            if tags
                #save_doc.ui.large.green.button
                    i.check.icon
                    |Save
            #delete.ui.red.large.icon.button
                i.remove.icon
        .ui.modal
            .header Confirm Delete
            .actions
              .ui.button.cancel Cancel
              .ui.red.button.approve Delete

