template(name='edit')
    with doc
        .ui.basic.segment
            div
                each tags
                    .ui.compact.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#add_tag(type='text' autofocus='' placeholder='Add Tag (press enter)')
            .ui.hidden.divider
            div
                if unpicked_alchemy_tags.length
                    .ui.segment
                        .ui.header Suggested Tags
                        div
                            each unpicked_alchemy_tags
                                .add_alchemy_suggestion.ui.small.compact.button #{this}
                        #add_all_alchemy.ui.blue.button Add All
            #alchemy_suggest.ui.basic.button Suggest Tags
            .ui.hidden.divider
            .ui.input
                textarea#body
                    |#{body}
            .ui.hidden.divider
            if tags
                #saveDoc.ui.large.green.button
                    i.check.icon
                    |Save
            #delete.ui.red.large.icon.button
                i.remove.icon
        .ui.modal
            .header Confirm Delete
            .actions
              .ui.button.cancel Cancel
              .ui.red.button.approve Delete

