template(name='cloud')
    .ui.center.aligned.bottom.attached.segment
        .ui.left.icon.input
            i.search.icon
            input#search(type='text' placeholder="Search/'clear'" autofocus='')
        if selectedTags
            #clearTags.ui.compact.primary.icon.button
                i.remove.icon
            each selectedTags
                a.ui.compact.primary.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}
        .ui.divider
        .bubbleChart