template(name='nav')
    .ui.stackable.fixed.menu
        a#homeLink.item(href='/' class="{{isActivePath '/'}}")
            i.home.icon
            // img(src='/f_logo.png' height='42' width='42')
        // .ui.item
        //     .ui.icon.input
        //         i.plus.icon
        //         input#quickAdd(type='text' autofocus='' placeholder='Quick Add')
        .item
            .ui.transparent.input
                input#search(type='text', placeholder="Search/'clear'")
        if currentUser
            a#addDoc.item
                i.plus.icon
                |Add
            a.item(href='/unvoted' class="{{isActivePath '/unvoted'}}")
                i.announcement.icon
                |Unvoted Mode
            // a.item(href='/mine' class="{{isActivePath '/mine'}}") My Docs
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                |Profile (#{user.points} points)
        +loginButtons align='right'


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
