template(name='nav')
    .ui.menu
        a#homeLink.ui.item(href='/') Facet
        // .item
        //     .ui.left.icon.input
        //         i.search.icon
        //         input#search(type='text', placeholder="Search")
        if currentUser
            // a.item(href='/profile' class="{{isActivePath '/profile'}}")
            .item
                i.user.icon
                |#{user.username}
        +atNavButton


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
