template(name='nav')
    .ui.stackable.menu
        a#homeLink.ui.item(href='/' class="{{isActivePath '/'}}")
            i.large.comment.outline.icon
            |Bubl
        if currentUser
            a.item(href='/unvoted' class="{{isActivePath '/unvoted'}}")
                i.announcement.icon
                |Unvoted Mode
        .ui.item
            .ui.left.transparent.icon.input
                i.lightning.icon
                input#quickAdd(type='text' autofocus='' placeholder='Say Anything')
        .item
            .ui.left.transparent.icon.input
                i.search.icon
                input#search(type='text', placeholder="Search Anything")
        if currentUser
            a#addDoc.item
                i.plus.icon
                |Add
            // a.item(href='/marketplace' class="{{isActivePath '/marketplace'}}")
            //     i.shop.icon
            //     |Marketplace
            // a.item(href='/mine' class="{{isActivePath '/mine'}}")
            //     // i.file.text.outline.icon
            //     |My Docs
            a.item(href='/profile' class="{{isActivePath '/profile'}}")
                i.user.icon
                |#{user.username}
        +atNavButton
        // +loginButtons align='right'


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
