template(name='exchange')
    .ui.container
        .ui.segment
            .ui.header Exchange Points
            .ui.basic.disabled.button Buy 1000 points for $11
            .ui.basic.disabled.button Sell 1000 points for $9
