template(name='conversation_cloud')
    .ui.center.aligned.segment
        .ui.header Browse Conversation Topics
        if selectedConversationTags
            #cleartags.ui.secondary.big.compact.icon.button
                i.remove.icon
        if selectedConversationTags
            each selectedConversationTags
                a.ui.secondary.big.compact.button.unselecttag
                    strong #{this}
        each globaltags
            .ui.compact.basic.button.selecttag(class=globaltagClass) #{this.name}
                small #{this.count}
